#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../../../config/keymap.keymap"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Test";
            bindings = <
// 左手側（シンプルな数字とQ-P）                                    右手側（位置が分かりやすい文字）
//  1段目
    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7        &kp A     &kp B     &kp C     &kp D     &kp E     &kp F     &kp G
//  2段目
    &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y                   &kp H     &kp I     &kp J     &kp K     &kp L     &kp M     &kp N     &kp O
//  3段目
    &kp A     &kp S     &kp D     &kp F     &kp G                             &kp P     &kp Q     &kp R     &kp S     &kp T     &kp U     &kp V     &kp W
//  4段目
    &kp Z     &kp X     &kp C     &kp V     &kp B                             &kp X     &kp Y     &kp Z     &kp N1    &kp N2    &kp N3    &kp N4    &kp N5
//  5段目
    &kp N8    &kp N9    &kp N0    &kp SPACE &kp SPACE                         &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp DOT   &kp COMMA
            >;
        };
    };
};
